fastapi==0.110.1
uvicorn[standard]==0.29.0
gunicorn==21.2.0
openai==1.17.1
azure-identity==1.16.0
python-dotenv # Pinned due to docker-in-docker issue: https://github.com/devcontainers/features/issues/616
environs==11.0.0
