fastapi==0.109.0
uvicorn[standard]==0.27.0.post1
gunicorn==21.2.0
openai==1.10.0
azure-identity==1.15.0
python-dotenv # Pinned due to docker-in-docker issue: https://github.com/devcontainers/features/issues/616
environs==10.3.0
